langgraph==0.0.28
langchain
chromadb
sentence-transformers
redis
slack-sdk
streamlit  # UI, install with: pip install "streamlit[all]"
starlette>=0.40.0
blinker
openrouter
aider
ollama
llama-cpp-python

pytest
python-dotenv
requests

pybase64
